.textarea  {
    display: block;
    width: 800px;
    height: 300px;
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444;
}

.keyboard_wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    background: royalblue;
    box-shadow: 0 0 50px black;
    user-select: none;
    transition: bottom 0.4s;
    height: 250px;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rosybrown;
    color: #444;
    font-size: 1.05rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align:  top;
    padding: 0;

}
.keyboard__key2 {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgb(71, 57, 57);
    color: #444;
    font-size: 1.05rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align:  top;
    padding: 0;

}
.keyboard__key3 {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgb(71, 57, 57);
    color: #444;
    font-size: 1.05rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align:  top;
    padding: 0;
    border-radius: 30px;

}
.keyboard__key_long {
    width: 20%;
}

.keyboard__key_space{
    width: 50%;
    padding: 0 20%;
}

.keyboard__key:active {
    background: rgb(71, 57, 57);
}

.keyboard__space_bar {
    width: 22%;
    max-width: 500px;
}

.toUppercase {
    text-transform: uppercase;
}

.additionalSubols_en {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: 7%;
}

.additionalSubols_ru {
    color: rgba(10, 104, 245, 0.945);
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 7%;
}